<!DOCTYPE html>
<html lang="ch" mlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <script th:src="@{https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js}"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script th:src="@{https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js}"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script th:src="@{https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js}"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/mystyle.css}">
    <link rel="stylesheet" th:href="@{/css/style_article.css}">
    <link rel="stylesheet" th:href="@{/css/style_icon.css}">
    <link rel="stylesheet" th:href="@{/css/editormd.css}">

    <link rel="stylesheet" th:href="@{/css/jquery.contextMenu.css}">
    <!--    <script th:src="@{/js/jquery.contextMenu.js}" type="text/javascript"></script>-->
    <!--    <script th:src="@{/js/jquery.ui.position.min.js}"></script>-->
    <!--    <script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.js"></script>-->
    <script th:src="@{//at.alicdn.com/t/font_1333916_f9l9u03stpt.js}"></script>
    <script th:src="@{/js/iconfont.js}"></script>
    <script th:src="@{/js/iconfont.js}"></script>
    <title>博客</title>

</head>
<body style="overflow-y: hidden">
<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar ">

    <div class="navbar-nav-scroll">
        <ul class="navbar-nav bd-navbar-nav flex-row">
            <li class="nav-item">
                <a class="nav-link " th:href="@{/to_index}">首页</a>
            </li>1
            <li class="nav-item">
                <a class="nav-link" th:href="@{/show_essays(page=0)}">博客</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#">关于</a>
            </li>
            <li th:if="${user}==null" class="nav-item ">
                <!--                <img th:src="/img/qq_logo.png">-->
                <a class="nav-link" th:href="@{/to_login}">登陆</a>
            </li>
            <li th:if="${user}" class="nav-item" th:object="${user}">
                <a class="nav-link" th:text="*{nickname}"></a>
            </li>
        </ul>

    </div>
</header>
<div class="container-fluid">
    <div class="row flex-xl-nowrap">
        <div class="col-l2 col-md-3 col-xl-2 bd-sidebar" style="overflow-y: auto">
            <form class="bd-search d-flex align-items-center">
                <span class="algolia-autocomplete" style="position: relative;display: inline-block;direction: ltr;">
                    <input type="search" class="form-control" placeholder="search" autocomplete="off" spellcheck="false"
                           role="combobox"
                           aria-autocomplete="list" aria-expanded="false" aria-owns="algolia-autocomplete-listbox-0"
                           dir="auto" style="position: relative; vertical-align: top;">
                </span>
                <nav class="navbar  navbar-expand-lg navbar-light " style="position: relative">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon" style="color: #000;"></span>
                    </button>
                </nav>

            </form>

            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav flex-column folder-action">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">All <span class="sr-only">(current)</span></a>
                        </li>
                        <li th:each="folder:${folders}" class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle my-folder" data-toggle="dropdown" th:text="${folder.folderName}">
                                Test
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item" style="border-bottom: 2px solid rgba(0,0,0,.1);"
                                   th:each="folderEssay:${folderEssay}"
                                   th:if="${folderEssay.folderName} == ${folder.folderName} "
                                    >
                                    <a th:text="${folderEssay.essayName}" th:onclick="getContent([[${folderEssay.essayName}]]);"></a>
                                    <svg style="float: right;width: 15px;height: 18px" th:onclick="deleteContent([[${folderEssay.essayName}]]);">
                                        <use xlink:href="#icon-close"></use>
                                    </svg>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <main  class="col-12 col-md-9 col-xl-8 bd-content" role="main" style="overflow-y: hidden;padding-left: 0">
            <div id="test-md" style="width: 80%;padding-top: 0">
               <textarea id="text" style="display: none;">
               </textarea>
            </div>

        </main>
        <div class="d-none d-xl-block col-xl-2 bd-toc" style="background-color: #9fcdff">

            <form class="form-horizontal">
                <div class="form-group">
                    <label for="title">Title</label>
                    <div>
                        <input type="text" class="form-control" id="title" placeholder="title">
                    </div>
                </div>
                <div class="form-group">
                    <label for="folder">Folder</label>

                    <div>
                        <input type="text" class="form-control" id="folder" placeholder="folder">
                        <!--                            <select id="folder" class="form-control">-->
                        <!--                                <option>Java</option>-->
                        <!--                                <option>C</option>-->
                        <!--                                <option>Python</option>-->
                        <!--                            </select>-->
                        <!--                        <input class="form-control">-->
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
<script th:src="@{js/jquery.min.js}"></script>
<!--<script th:src="@{js/marked.min.js}"></script>-->
<!--<script th:src="@{js/raphael.min.js}"></script>-->
<!--<script th:src="@{js/flowchart.min.js}"></script>-->
<!--<script th:src="@{js/sequence-diagram.min.js}"></script>-->
<!--<script th:src="@{js/underscore.min.js}"></script>-->
<!--<script th:src="@{js/jquery.flowchart.min.js}"></script>-->
<script th:src="@{js/editormd.js}"></script>
<script type="text/javascript">
    $(function () {
        var essayName = $("#title").val();
        editormd("test-md", {
            theme:"default",
            previewTheme:"default",
            editorTheme:"base16-light",
            syncScrolling: "single",
            path: "/js/lib/",
            imageFormats:["jpg","jpeg","gif","png","bmp","webp"],
            imageUploadURL:"/upload?essayName="+essayName,
            toolbarIcons: function () {
                // Or return editormd.toolbarModes[name]; // full, simple, mini
                // Using "||" set icons align right.
                return ["undo", "redo", "|", "bold", "hr", "|", "info", "watch", "fullscreen", "preview","image",
                    "||", "save"]
                //     return ["undo", "redo", "|",
                //         "bold", "del", "italic", "quote", "uppercase", "lowercase", "|",
                //         "h1", "h2", "h3", "h4", "h5", "h6", "|",
                //         "list-ul", "list-ol", "hr", "|",
                //         "watch", "preview", "fullscreen", "|",
                //         "help", "info","||","file"];
            },
            toolbarIconsClass: {
                save: "fa-save"
            },
            toolbarHandlers: {
                save: function () {
                    var title = $("#title").val();
                    var text = $("#text").val();
                    var folder = $("#folder").val();
                    $.ajax({
                        type: 'post',
                        url: '/save_blog',
                        data: {
                            "title": title,
                            "text": text,
                            "folder": folder
                        },
                        dataType: 'json',
                        success: function (data) {
                            var msg = data["data"];
                            alert(msg);
                        }
                    })
                }
            }


        });
    });
</script>
<script type="text/javascript">
    function getContent(essayName) {
        $.ajax({
            type: 'post',
            url: '/edit_essay',
            data: {
                "essayName": essayName
            },
            dataType: 'json',
            success: function (data) {
                var folder = data["folder"];
                var content = data["content"];
                alert(content);
                $("#text").val(content);
                $("#title").val(essayName);
                $("#folder").val(folder);

                editormd("test-md", {
                    theme:"default",
                    previewTheme:"default",
                    editorTheme:"base16-light",
                    syncScrolling: "single",
                    path: "/js/lib/",
                    codeFold: true,
                    imageUpload:true,
                    imageFormats:["jpg","jpeg","gif","png","bmp","webp"],
                    imageUploadURL:"/upload?essayName="+essayName,

                    toolbarIcons: function () {
                        // Or return editormd.toolbarModes[name]; // full, simple, mini
                        // Using "||" set icons align right.
                        return ["undo", "redo", "|", "bold", "hr", "|", "info", "watch", "fullscreen", "preview","image",
                            "||", "save"]
                        //     return ["undo", "redo", "|",
                        //         "bold", "del", "italic", "quote", "uppercase", "lowercase", "|",
                        //         "h1", "h2", "h3", "h4", "h5", "h6", "|",
                        //         "list-ul", "list-ol", "hr", "|",
                        //         "watch", "preview", "fullscreen", "|",
                        //         "help", "info","||","file"];
                    },
                    toolbarIconsClass: {
                        save: "fa-save"
                    },
                    toolbarHandlers: {
                        save: function () {
                            var title = $("#title").val();
                            var text = $("#text").val();
                            var folder = $("#folder").val();
                            $.ajax({
                                type: 'post',
                                url: '/save_blog',
                                data: {
                                    "title": title,
                                    "text": text,
                                    "folder": folder
                                },
                                dataType: 'json',
                                success: function (data) {
                                    var msg = data["data"];
                                    alert(msg);
                                }
                            })
                        }
                    }


                });
            }
        })
    }
    function deleteContent(essayName) {
        $.ajax({
            type: 'delete',
            url: '/essay',
            data: {
                "essayName": essayName
            },
            dataType: 'json',
            success: function (data) {
                alert("删除成功");
                location.reload();
            }
        })
    }
</script>
</body>
</html>